#foot{
    background-color: #000000;
    color: white;
    text-align: center;
    line-height: 10%;
    height: 150px;
    align-items: center;
    padding-top: 80px;
   

}
#hello{
    color: white;
}
#img{
    height: 3%;
    width: 6%;
    text-align: center;
}
#para{
    color:rgb(156, 141, 141)
}
#green{
    height:10px;
    background-color: #10a310;
    margin-top: 15%;

}