::-webkit-scrollbar {
  display: none;
}
#navbar {
  padding: 1%;
  display: flex;
  background: #000;
  justify-content: space-between;
  /* overflow: hidden; */
  font-style: normal;

  top: 0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  left: 0;
}
#nav_right {
  display: flex;
  color: white;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
  margin-right: 4%;
}

#nav_menu {
  /* color: aliceblue; */
  /* background-color: aliceblue; */
  width: 40px;
  margin-top: -15% !important;
  cursor: pointer;
}
/* ///////navbar end///// */

/* ///////////car imgae/ */
#top_page img {
  width: 100%;
  /* background-size: cover;
  background-position: bottom right;
  position: relative; */
}

/* dicount image start */
#promo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 90%;
  margin: auto;
  /* gap: 3%; */
}
#promo div {
  /* left: 0;
        right: 0; */
  padding: 4%;
  box-sizing: border-box;
  cursor: pointer;
}
#promo img {
  width: 100%;
  border-radius: 10px;
}
/* ////////////refer start */
#outer_refer {
  background-color: #f5f5f5;
  padding: 10%;
}
#inner_refer {
  display: flex;
  background-color: white;
  color: #666;
  /* justify-content: space-around; */

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  padding: 20px 40px 20px 40px;
}
#inner_refer + div {
  width: 20%;
  /* display: block; */
}
#inner_refer img {
  width: 100%;
}
#inner_refer h4 {
  color: rgba(0, 0, 0, 0.78);
  font-size: 14px;

  font-weight: bold;
}
/* #inner_refer div:nth-child(2) {
  /* width: 60%; */
/* line-height: 50%; */
/* justify-content: center;
  align-content: center; */

/* background-color: #666; */
/* flex-wrap: wrap; */
/* margin-left: 2%; */
/* text-align: center; */
/* display: inline-block; */

/* background-color: aqua; */

#refer_text {
  /* box-sizing: border-box;
  margin-top: 6%; */

  /* background-color: aqua;
   */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* line-height: -9.5em; */
  /* flex-wrap: wrap; */

  /* line-height: 50%; */
}
#stop_slider {
  display: flex;
  width: 65%;
  margin: auto;
  overflow: scroll;
  overflow-x: visible;

  /* visibility: visible; */
  gap: 5%;
  /* white-space: nowrap; */
}
/* #stop_slider div {
  /* width: 100%; */

/* ; */

#stop_slider div img {
  width: 300px;
}
#show_drop {
  cursor: pointer;
  text-align: center;
}
#improve {
  flex-direction: column;
  text-align: center;
  background-color: #f7f9fb;
  bottom: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
#footer > div {
  margin: auto;
}
#show_drop {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.3%;

  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  color: #666;
  background-color: #f7f9fb;

  border-top: solid 1px rgba(0, 0, 0, 0.12);
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}
#toggle-up {
  display: block;
}
/* /////////footer */
#footer_last {
  color: #666;
  background: #f5f5f5;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  padding-top: 3%;
  box-sizing: border-box;
}
#footer_last div {
  width: 80%;
  margin: auto;
}
/* //////////////navdrop start////// */

#profile {
  background-color: black;
  color: white;
  padding: 5%;
  width: 400px;
  margin-top: 0%;
}
#otherThinks {
  display: flex;
  background-color: #f5f5f5;
  color: #000;
  flex-direction: column;
  position: absolute;
  /* line-height: 250%; */
  width: 440px;
  box-sizing: border-box;
  /* margin-left: -20px; */
}
#otherThinks div {
  cursor: pointer;
  padding: 11px;
  color: #1f1f1f;
  display: flex;
  text-align: center;
  /* border: 1px solid red; */
  gap: 9%;
  /* margin-left: 16px; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1f1f1f;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
#drop_left {
  margin-left: 0%;
  left: 0;
  top: -20%;
  position: absolute;
  margin-top: 1.4%;
  /* border: 1px solid red; */
  /* display: none; */
}
.nav_icon {
  width: 30px;
  border-radius: 50%;
}
#close {
  display: flex;
  justify-content: space-between;
}
#hide {
  cursor: pointer;
}
#logo {
  align-items: center;
  margin-top: 5%;
}
