::-webkit-scrollbar {
  display: none;
}

#navbar {
  padding: 1%;
  display: flex;
  background: #000;
  justify-content: space-between;
  /* overflow: hidden; */
  font-style: normal;

  top: 0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  list-style: none;
  /* font-weight: bold; */
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  left: 0;
}

#nav_right {
  display: flex;
  color: white;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
  margin-right: 4%;
}
#nav_right h3{
  cursor: pointer;

}
#logos{

top: 50%;
bottom: 50%;

}
#logos img:nth-child(3){

margin-bottom: -10px;
}
#nav_menu {

  width: 40px;
top: 0 !important;
margin-top: -10% !important;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  

}

/* ///////navbar end///// */

/* ///////////car imgae/ */
#top_page {
  width: 100%;
  margin: auto;
  background-image: url("https://www.zoomcar.com/img/bg-desktop.png");
  height: 680px;
  /* background-size: cover;
  background-position: bottom right;
  position: relative; */
}

/* dicount image start */
#promo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 90%;
  margin: auto;
  /* gap: 3%; */
}

#promo div {
  /* left: 0;
        right: 0; */
  padding: 4%;
  box-sizing: border-box;
  cursor: pointer;
}

#promo img {
  width: 100%;
  border-radius: 3px;
}
#promo :nth-child(7) {
 width: 200%;
  border-radius: 20%;
  /* background-color: aqua; */
}
/* ////////////refer start */
#outer_refer {
  background-color: #f5f5f5;
  padding: 10%;
}

#inner_refer {
  display: flex;
  background-color: white;
  color: #666;
  /* justify-content: space-around; */

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  padding: 20px 40px 20px 40px;
}

#inner_refer+div {
  width: 20%;
  /* display: block; */
}

#inner_refer img {
  width: 100%;
}

#inner_refer h4 {
  color: rgba(0, 0, 0, 0.78);
  font-size: 14px;

  font-weight: bold;
}

/* #inner_refer div:nth-child(2) {
  /* width: 60%; */
/* line-height: 50%; */
/* justify-content: center;
  align-content: center; */

/* background-color: #666; */
/* flex-wrap: wrap; */
/* margin-left: 2%; */
/* text-align: center; */
/* display: inline-block; */

/* background-color: aqua; */

#refer_text {
  /* box-sizing: border-box;
  margin-top: 6%; */

  /* background-color: aqua;
   */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* line-height: -9.5em; */
  /* flex-wrap: wrap; */

  /* line-height: 50%; */
}

#stop_slider {
  display: flex;
  width: 65%;
  margin: auto;
  overflow: scroll;
  overflow-x: visible;

  /* visibility: visible; */
  gap: 5%;
  /* white-space: nowrap; */
}

/* #stop_slider div {
  /* width: 100%; */

/* ; */

#stop_slider div img {
  width: 300px;
}

#show_drop {
  cursor: pointer;
  text-align: center;
}

#improve {
  flex-direction: column;
  text-align: center;
  background-color: #f7f9fb;
  bottom: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

#footer>div {
  margin: auto;
}

#show_drop {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.3%;

  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  color: #666;
  background-color: #f7f9fb;

  border-top: solid 1px rgba(0, 0, 0, 0.12);
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

#toggle-up {
  display: block;
}

/* /////////footer */
#footer_last {
  color: #666;
  background: #f5f5f5;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  padding-top: 3%;
  box-sizing: border-box;
}

#footer_last div {
  width: 80%;
  margin: auto;
}

/* //////////////navdrop start////// */

#profile {
  background-color: black;
  color: white;
  padding: 5%;
  width: 400px;
  margin-top: 0%;
  height: 77.5px;
}

#otherThinks {
  display: flex;
  background-color: #f5f5f5;
  color: #000;
  flex-direction: column;
  position: absolute;
  line-height: 25%;
  width: 440px;
  box-sizing: border-box;
  height: 600px;
  /* margin-left: -20px; */
}

#otherThinks div {
  cursor: pointer;
  padding: 11px;
  color: #1f1f1f;
  display: flex;
  text-align: center;
  /* border: 1px solid red; */
  gap: 9%;
  /* margin-left: 16px; */
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.25px;
  color: #1f1f1f;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

#otherThinks>div {
  margin-top: -20px;
  align-items: center;
}

#otherThinks>div:nth-child(1) {
  margin-top: -10px;
 
}
#otherThinks>div:nth-child(3) {
  margin-top: -30px;
  /* border-bottom:1px solid gray ;
border-width: .1ch;
margin-bottom: 10px;  */

}

#otherThinks>div:nth-child(4) {
padding-top: -100px !important;
box-sizing: border-box;
}


#otherThinks>div>p {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: small;
}

#drop_left {
  margin-left: 0%;
  left: 0;
  top: -20%;
  position: absolute;
  margin-top: 1.4%;
  /* border: 1px solid red; */
  /* display: none; */
}

.nav_icon {
  width: 6%;
  border-radius: 50%;
}

#mini_logo {
  width: 6%;
  height: 30px;
  line-height: 10px;

  
}

#mini_logo1 {
  width: 10%;
  margin-left: -8px;
  border-radius: 50%;
  line-height: 10px;
}

#mini_logop {
  margin-left: -2%;
  padding-top: 16px;

}

#close {
  display: flex;
  justify-content: space-between;
}

#hide {
  cursor: pointer;
}

#logo {
  align-items: center;
  margin-top: 5%;
}
#profile_photo{
  margin-left: -50px;
}
#user_details{
  line-height: 30%;
  /* margin: auto; */
}
.line1{
  /* height: -1000px !important;  */
  margin-left: auto;
  margin-right: auto;
background-color: #e0e0e0;
height: .3px;
width: 90%;
left: 0;
right: 0;
margin-top: -10px;
}
a{
text-decoration: none;
color: #f5f5f5;
}
#search{
 
height: 15px;
background-color: white;
/* position: absolute; */
/* z-index: 100; */
margin-top: 350px;
width: 25%;
/* margin-left: 50%; */
padding: 1.5%;
border: .2px solid gainsboro;
color: #a8a8a8;
font-family: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Helvetica,
Arial,
sans-serif;
}.bluedot{
  width: 10px;
  font-size: 300%;
  margin-top: 0;
  line-height: 0%;
  color: #10a310;

  margin-right: 9%;
  margin-left: -6%;
  border-radius: 50%;
 
}
#find_cars{
width: 28.4%;
margin-top: 1%;
padding: 1%;
background-color: #10a310;
border: none;
border-radius: 4px;
color: white;
}