body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #413a45;

}

#Container{
    display: grid;
    width: 70%;
    margin: auto;
    
}
#main{
    display: flex;
    justify-content: space-between;

}
.active, #main >div:hover{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    text-emphasis: none;
    height: 20px;
}

.host{
    text-align: center;
}




table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px;  
}
