.popup-header {
    display: flex;
    padding-bottom: 16px;
}
.content {
    
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: IBM Plex Sans;
    font-size:20px;
    font-weight: 600;
    letter-spacing: 0.24px;
    color: #1f1f1f;
   margin-top: px;
   margin-left: 0px;
padding-left: 10px;
   background-color: rgb(209, 209, 209);
}
 
 
body {
    background: #fff;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}
div {
    display: block;
}

img
{
    margin-left: 1100px;
}
.mobilewallet
    {
        display: flex;
        font-family: 'IBM Plex Sans';
    font-size: 30px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.24px;
    color: #1f1f1f;
    margin-left: 400px;
    margin-top: 30px;
    padding-left: 10px;
    }
    .img1{
        background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: 5px;
    padding: 12px 0px;

    }
    .contentdiv{
        margin-left: 20px;
        margin-top: 50px;
    }
    #btn{
    width: 20%;
    height: 60px;
    background-color:green;
    color: white;
    font-size: 20x;
    margin-left: 370px;
    text-align: center;
    margin-top: 100px;
    border-radius: 8px;
    
}
#backbtn{
       margin-top: 150px;
       margin-left: 1200px;
    }
    #back{
        width: 150px;
        height: 50px;
        background-color: green;
        color: honeydew;
        font-size: 16px;
    }
